body
{
    background-color:white;
    
}
h1
{
    color:rgb(5, 5, 59);
    font-size:100px;
}
h1
{
    color: white;
    font-size: 60px;

}
.column {
    background-color:rgb(6, 6, 167); 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 10px;
    margin-left: 220px;  
    transition: filter 0.3s ease;
    width: 800px;
    
}

    
.column:hover {
        filter: brightness(70%);
    }
    
footer
{   
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: #202529; 
    color: #fff; 
    padding: 10px; 
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.col-3 {
    display: grid;
    grid-template-columns: auto; 
    grid-gap: 10px;
    align-items: center; 
}

.col-3 h2 {
    margin: 0; 
}

.col-3 ul {
    margin: 0;
    padding: 0; 
}